@font-face {
  font-family: "Inter-Variable";
  src:
    local('Inter-Variable'),
    url('./Inter-Variable.woff2') format('woff2');
  font-weight: 410 715;
  font-stretch: 75% 125%;
  font-display: swap;
}


@font-face {
  font-family: 'PressStart2P';
  src: url('./PressStart2P-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
