@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparks-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

svg .sparks {
  opacity: 0;
}

svg .contour {
  transition: fill 0.1s linear;
}

svg .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

svg .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--hover-like-animation-fill);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--hover-like-animation-fill);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--active-like-animation-fill);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--active-like-animation-fill);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--active-like-animation-fill);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--active-like-animation-fill);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--active-like-animation-fill);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: scale-animation 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s;
  fill: var(--active-like-animation-fill);
}

.heart {
  transform-origin: center;
}

@media (prefers-reduced-motion: reduce) {
  .like-icon.is-liked .sparks,
  .like-icon.is-liked .heart {
    animation: none;
  }
}
